### Условие 1: 
#### Задача 1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas
Вывести на экран первые 5 строк

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kc_house_data.csv', parse_dates=['date'])

In [3]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [4]:
df['delta_renovated'] = df.apply(lambda x: 0 if x['yr_renovated']==0 else x['yr_renovated'] - x['yr_built'], axis=1)

In [5]:
df.sample(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
9120,1922059278,2014-10-14,145000.0,3,1.00,1010,11880,1.0,0,0,...,1010,0,1960,0,98030,47.3762,-122.219,1150,9435,0
13929,9266701085,2014-06-03,409950.0,2,1.75,1370,5125,1.0,0,0,...,1370,0,1944,0,98103,47.6926,-122.346,1200,5100,0
2668,4139500200,2015-03-05,1380000.0,6,4.50,5740,10312,2.0,0,2,...,3610,2130,2000,0,98006,47.5533,-122.110,4350,11917,0
15487,8125200480,2015-05-08,422000.0,4,2.50,2310,6650,2.0,0,2,...,2310,0,2012,0,98166,47.4513,-122.267,1800,9819,0
21117,255450250,2014-08-04,307635.0,3,2.50,1820,4200,2.0,0,0,...,1820,0,2014,0,98038,47.3693,-122.017,2370,4200,0
4694,4047200300,2015-02-05,599900.0,3,1.50,2605,12030,1.0,0,0,...,1355,1250,2003,0,98019,47.7725,-121.899,1590,15242,0
19635,1025039326,2014-08-28,921800.0,4,2.50,2950,7024,2.0,0,0,...,2950,0,2012,0,98199,47.6651,-122.403,2950,6339,0
1734,913000340,2015-01-02,252000.0,1,1.00,680,1638,1.0,0,4,...,680,0,1910,1992,98116,47.5832,-122.399,1010,3621,82
8559,6388910360,2014-11-19,506400.0,3,2.50,2100,9040,1.0,0,0,...,1700,400,1989,0,98056,47.5329,-122.173,2430,8809,0
20317,3413700130,2014-06-25,425000.0,3,2.50,2320,2267,3.0,0,0,...,2320,0,2009,0,98177,47.7027,-122.359,1240,1883,0
11992,11520370,2014-12-29,738000.0,3,2.50,2620,9112,2.0,0,0,...,2620,0,1995,0,98052,47.6972,-122.116,2620,9067,0
12672,1775801020,2014-11-24,410000.0,3,1.75,1530,26642,1.0,0,0,...,1180,350,1988,0,98072,47.7422,-122.097,1550,13566,0
13500,8835200610,2014-10-28,372000.0,3,2.50,1710,5633,2.0,0,0,...,1710,0,1981,0,98034,47.7232,-122.161,1540,5000,0
18409,2397101606,2014-12-08,2630000.0,6,4.75,5540,7200,2.5,0,2,...,3950,1590,1909,0,98119,47.6361,-122.366,2930,7200,0
17100,9297300500,2014-10-23,435000.0,2,1.00,870,4000,1.0,0,2,...,870,0,1950,0,98126,47.5682,-122.374,1690,4000,0
16811,414100280,2015-04-14,336000.0,2,1.00,1180,7200,1.0,0,0,...,1180,0,1949,0,98133,47.7475,-122.342,1180,7200,0
10420,2424059116,2014-11-05,740000.0,3,2.25,3440,44374,2.0,0,3,...,2190,1250,1979,0,98006,47.5470,-122.111,3470,40185,0
19432,7852030790,2015-05-05,500000.0,4,2.50,2960,5027,2.0,0,0,...,2960,0,2000,0,98065,47.5328,-121.881,2760,5500,0
17335,2856100381,2014-07-11,580000.0,7,2.75,2310,2400,1.5,0,0,...,2310,0,1915,0,98117,47.6775,-122.390,1340,3825,0
16444,3575304017,2014-08-22,315000.0,3,1.00,1010,7500,1.0,0,0,...,1010,0,1975,0,98074,47.6172,-122.061,1250,10000,0
14959,6306100190,2014-05-21,220000.0,4,2.50,2160,8005,2.0,0,0,...,2160,0,1993,0,98001,47.2668,-122.231,1790,8016,0
13442,1545800205,2014-06-13,324900.0,4,2.50,1880,7965,2.0,0,0,...,1880,0,2000,0,98038,47.3642,-122.052,1570,7584,0
2389,6669100070,2014-05-12,900000.0,4,3.25,4700,38412,2.0,0,0,...,3420,1280,1978,0,98005,47.6445,-122.167,3640,35571,0
14011,7129301445,2014-06-25,450000.0,4,2.75,2310,5650,1.0,0,2,...,1330,980,1952,2012,98118,47.5130,-122.252,2300,5650,60
3099,5360200054,2014-10-02,247500.0,3,2.00,1530,8749,1.0,0,0,...,1530,0,1995,0,98023,47.2974,-122.372,1750,8749,0
10788,4154302075,2015-01-16,200000.0,2,1.00,830,7200,1.0,0,0,...,830,0,1920,0,98118,47.5604,-122.275,1150,6600,0
17387,6413600290,2014-05-09,252500.0,3,1.00,1030,6127,1.0,0,0,...,880,150,1947,0,98125,47.7192,-122.320,1610,6127,0
10967,8731901610,2014-09-17,282000.0,3,2.25,2420,7548,1.0,0,0,...,1370,1050,1967,0,98023,47.3112,-122.376,2150,8000,0
10581,5379800810,2014-08-07,198000.0,2,1.00,790,14200,1.0,0,0,...,790,0,1951,0,98188,47.4590,-122.285,1430,10000,0
5671,2767700022,2015-01-13,500000.0,3,3.25,1520,1500,3.0,0,0,...,1520,0,2000,0,98107,47.6700,-122.389,1520,1323,0
14023,7977200995,2015-05-06,506000.0,3,2.00,1160,6120,1.0,0,0,...,1160,0,1947,0,98115,47.6853,-122.293,1150,5100,0
2597,2972300140,2014-08-21,352500.0,3,2.00,1920,33630,1.0,0,0,...,1920,0,1992,0,98056,47.4983,-122.167,2080,7505,0
18186,5637200150,2015-01-14,343500.0,3,2.00,1660,7509,1.0,0,0,...,1660,0,2002,0,98059,47.4872,-122.144,2380,8598,0
15581,3971701990,2014-08-12,400000.0,4,1.75,1810,9750,2.0,0,0,...,1810,0,1977,0,98155,47.7681,-122.311,1570,10000,0
13546,5088500210,2015-01-12,415000.0,4,2.75,2390,9968,1.0,0,0,...,1390,1000,1989,0,98038,47.3706,-122.056,2560,12385,0
21312,7708200670,2014-07-23,490000.0,4,2.50,2510,4349,2.0,0,0,...,2510,0,2010,0,98059,47.4927,-122.147,2510,4314,0
18919,1313000650,2014-07-11,620000.0,4,2.25,2210,10039,1.0,0,0,...,1710,500,1967,0,98052,47.6340,-122.101,2070,10965,0
3478,1370803820,2014-06-02,629000.0,3,2.00,1760,5000,1.0,0,0,...,960,800,1920,0,98199,47.6408,-122.403,1380,5000,0
12383,2599000370,2014-11-03,164000.0,3,1.00,1070,8250,1.0,0,0,...,1070,0,1961,0,98092,47.2899,-122.192,1190,8250,0
17239,5307100280,2014-08-11,680000.0,3,2.25,1820,8316,1.0,0,0,...,1320,500,1960,0,98005,47.5849,-122.169,1780,8400,0
1068,8699800060,2014-09-03,318000.0,3,2.25,1410,8909,2.0,0,2,...,1410,0,1988,0,98198,47.3983,-122.310,2050,8909,0
11091,2517000140,2014-05-16,306000.0,3,2.50,1870,5874,2.0,0,0,...,1870,0,2005,0,98042,47.3992,-122.163,2090,4060,0
20584,7853321260,2014-09-08,492000.0,4,2.50,2550,6382,2.0,0,0,...,2550,0,2007,0,98065,47.5202,-121.870,2430,5900,0
9661,4137010530,2014-05-04,331950.0,4,2.50,2530,9933,2.0,0,2,...,2010,520,1990,0,98092,47.2654,-122.216,2140,9933,0
20928,53500760,2014-12-08,287000.0,4,2.50,2660,4082,2.0,0,0,...,2660,0,2010,0,98042,47.3414,-122.055,2390,4876,0
1148,809002435,2014-08-08,725000.0,3,2.50,1940,4000,1.5,0,0,...,1940,0,1906,0,98109,47.6372,-122.352,1440,4000,0
1453,7227501170,2014-06-26,235867.0,4,2.00,1330,5926,1.0,0,0,...,1330,0,1942,0,98056,47.4960,-122.190,1150,5485,0
6162,4197400005,2014-06-20,455000.0,4,2.25,2450,21000,1.0,0,2,...,1650,800,1954,0,98166,47.4559,-122.344,1820,12480,0
13473,9331800580,2015-03-10,257000.0,2,1.00,1000,3700,1.0,0,0,...,800,200,1929,0,98118,47.5520,-122.290,1270,5000,0
10561,259800640,2014-06-09,500000.0,4,1.75,2240,9886,1.5,0,0,...,2240,0,1965,0,98008,47.6294,-122.116,1540,8040,0

#### 1.3 Создайте признаки года продажи, месяца продажи

In [6]:
df['year_of_sale'] = pd.DatetimeIndex(df['date']).year

In [7]:
df['month_of_sale'] = df['date'].apply(lambda x: x.month)

In [8]:
df.sample(40)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
16994,2597690050,2015-04-09,350000.0,4,1.75,1770,7336,1.0,0,0,...,1986,0,98058,47.4265,-122.163,2030,8183,0,2015,4
2677,3204800520,2015-02-25,399500.0,3,1.75,1410,7700,1.0,0,0,...,1967,0,98056,47.5375,-122.176,1560,7700,0,2015,2
5505,1105000780,2015-04-03,425000.0,3,1.50,1660,5665,1.0,0,0,...,1918,0,98118,47.5391,-122.274,1530,5665,0,2015,4
15200,9834200305,2015-02-10,615000.0,3,1.00,1790,3876,1.5,0,0,...,1904,0,98144,47.5750,-122.288,1360,4080,0,2015,2
6790,8651510380,2014-12-16,539000.0,3,2.00,2070,9195,1.0,0,0,...,1982,0,98074,47.6491,-122.061,2080,9551,0,2014,12
19471,2566300100,2015-03-27,1388000.0,5,1.75,2650,11340,1.0,0,0,...,1955,0,98004,47.6260,-122.213,2780,13204,0,2015,3
19999,3566800485,2015-02-23,649950.0,4,3.50,2440,3012,3.0,0,1,...,2005,0,98117,47.6923,-122.392,1860,4650,0,2015,2
3063,6896300375,2014-05-05,580000.0,2,1.00,2540,7000,1.0,0,0,...,1942,0,98118,47.5259,-122.261,2160,6000,0,2014,5
5316,1790000080,2015-02-03,321027.0,4,2.25,2820,16770,1.0,0,0,...,1966,0,98023,47.3186,-122.364,2320,13850,0,2015,2
16567,7603100095,2014-11-10,1260000.0,3,3.00,3230,8625,2.0,0,3,...,1998,0,98116,47.5620,-122.404,2330,6022,0,2014,11
3783,3329510850,2015-03-06,286950.0,4,2.50,2080,9846,1.0,0,0,...,1984,0,98001,47.3338,-122.268,1890,7977,0,2015,3
647,2218000335,2014-07-07,530000.0,3,1.75,1320,2500,1.0,0,0,...,1918,0,98105,47.6681,-122.305,1580,2750,0,2014,7
15342,3224900130,2014-05-14,223000.0,3,1.75,1340,7473,1.0,0,0,...,1973,0,98002,47.3087,-122.206,1510,8240,0,2014,5
6125,6430500233,2015-04-16,650000.0,3,2.00,1840,3075,1.0,0,0,...,1928,0,98103,47.6894,-122.350,1480,3774,0,2015,4
12812,6141100065,2014-12-18,420000.0,3,1.00,1790,7055,1.0,0,0,...,1937,0,98133,47.7180,-122.355,1710,7055,0,2014,12
5611,4024101434,2014-08-08,318000.0,3,1.00,1010,7200,1.0,0,0,...,1948,0,98155,47.7601,-122.307,1590,7663,0,2014,8
7440,2024059130,2015-01-09,928950.0,4,3.75,3280,6000,2.0,0,0,...,2014,0,98006,47.5540,-122.190,2900,10108,0,2015,1
20856,5381000477,2015-01-28,399500.0,4,2.50,2560,7492,2.0,0,0,...,2014,0,98188,47.4467,-122.287,1260,11541,0,2015,1
10133,6648500390,2015-02-26,219000.0,3,2.25,1940,6500,1.0,0,0,...,1979,0,98042,47.3565,-122.149,1880,8991,0,2015,2
15015,8732190170,2014-12-10,266000.0,4,2.25,1860,12693,1.0,0,0,...,1978,0,98023,47.3114,-122.395,1950,8740,0,2014,12
2483,3034200370,2014-10-31,543000.0,4,2.50,2060,8451,2.0,0,0,...,1995,0,98133,47.7168,-122.333,2060,9460,0,2014,10
4874,3832710680,2014-07-21,215000.0,4,2.00,1540,7575,1.0,0,0,...,1978,0,98032,47.3664,-122.279,1720,7575,0,2014,7
20610,6056100312,2014-06-24,395000.0,3,2.50,1600,1936,2.0,0,0,...,2007,0,98108,47.5629,-122.297,1600,1936,0,2014,6
6320,8067000020,2014-06-11,295000.0,5,3.50,2100,5107,2.0,0,0,...,1999,0,98178,47.5108,-122.257,1410,5650,0,2014,6
20138,2916200091,2015-03-03,734000.0,4,2.50,2180,7204,2.0,0,0,...,2014,0,98133,47.7221,-122.352,1500,7650,0,2015,3
1957,8849300160,2015-02-05,345000.0,4,2.50,2280,8190,1.0,0,3,...,1983,0,98188,47.4414,-122.272,1990,9000,0,2015,2
7880,5126900100,2014-09-23,150000.0,2,1.00,790,7275,1.0,0,0,...,1944,0,98058,47.4771,-122.174,850,7399,0,2014,9
1131,4039100400,2015-05-06,515000.0,3,2.50,3000,8250,1.0,0,0,...,1963,0,98008,47.6191,-122.112,2040,8250,0,2015,5
14472,2122049038,2015-03-02,275000.0,2,1.00,2180,12875,1.0,0,0,...,1959,0,98198,47.3757,-122.303,1800,7447,0,2015,3
8693,6821100090,2015-04-09,557800.0,4,1.75,1550,6000,1.0,0,0,...,1944,0,98199,47.6567,-122.399,1550,6000,0,2015,4
537,5694500105,2014-12-04,595000.0,2,2.00,1510,4000,1.0,0,0,...,1900,0,98103,47.6582,-122.345,1920,4000,0,2014,12
17360,2436700280,2014-05-28,840000.0,4,1.75,2330,4000,2.0,0,0,...,1924,0,98105,47.6660,-122.289,2040,4000,0,2014,5
4779,3575305495,2015-04-13,660000.0,5,2.25,3740,14913,1.5,0,0,...,1979,0,98074,47.6234,-122.059,2180,7600,0,2015,4
103,2450000295,2014-10-07,1088000.0,3,2.50,2920,8113,2.0,0,0,...,1950,2010,98004,47.5814,-122.196,2370,8113,60,2014,10
18121,5535600110,2014-06-18,515500.0,4,2.50,2920,7700,2.0,0,0,...,2003,0,98019,47.7351,-121.975,2920,8943,0,2014,6
18001,4036400110,2015-01-29,300000.0,3,2.75,2340,12282,1.0,0,2,...,1978,0,98155,47.7379,-122.289,2640,8887,0,2015,1
20485,3278611450,2015-03-26,496800.0,4,2.25,1850,2340,2.5,0,0,...,2014,0,98126,47.5430,-122.372,1850,2340,0,2015,3
8718,8029650040,2014-05-19,373000.0,3,2.50,1670,3565,2.0,0,0,...,1999,0,98072,47.7623,-122.161,1510,3770,0,2014,5
18687,622079089,2014-06-16,375000.0,4,2.50,2040,109336,1.5,0,0,...,1973,0,98038,47.4193,-121.958,2370,133729,0,2014,6
10388,1150000340,2014-11-18,645500.0,4,2.50,2390,9638,2.0,0,0,...,1988,0,98029,47.5598,-122.018,2630,9258,0,2014,11

#### 1.4 Удалите признаки date, zipcode, lat, long

In [12]:
df.drop(columns=['date','zipcode','lat','long'], inplace=True)

In [13]:
df.sample()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
10922,1431400070,215000.0,3,1.0,1060,7900,1.0,0,0,3,7,1060,0,1961,2001,1310,7900,40,2015,2

### Условие 2: 
#### 2 задача
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [14]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196] })

In [15]:
clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

#### 2.1 Присоедините к таблице clients данные по домам через метод join

In [17]:
clients.set_index('house_id', inplace=True)

In [18]:
df.set_index('id', inplace=True)

In [19]:
clients.join(df)

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,9
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,9
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,6
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,0,2014,6
1622049154,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,62,2014,12
1788800910,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,0,2014,10
1951600150,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,0,2015,4
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12
2768100205,4929,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,0,2014,6
3123049142,280,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,0,2014,8
3303980210,3317,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,0,2015,4
3889100029,1611,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,0,2014,6
3995700435,1384,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,0,2014,7
5083000375,4332,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2014,10
5083000375,4332,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2015,3
5104540330,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,0,2015,5
5428000070,2295,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,0,2015,5
6131600255,4236,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,0,2014,12
6306800010,20,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,0,2014,8
6821600300,2866,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,0,2015,3
6823100225,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,0,2015,4
7137950720,2765,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,0,2015,3
7731100066,2260,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,0,2014,6
7920100025,3475,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,0,2015,4
8100400160,3840,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,0,2015,4
8146100580,1727,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,0,2014,10
8563000110,2068,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,0,2015,4
8861700030,1589,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,0,2014,12
8965450190,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,0,2015,2
9510920050,1472,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,0,2014,9
9524100196,1474,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,0,2014,11

#### 2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [22]:
df.reset_index()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,2015,2
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509,0,2014,5
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200,0,2015,2
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007,0,2014,6
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287,0,2015,1
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357,0,2014,10

In [24]:
clients.merge(df, how='left', left_on='house_id', right_on='id')

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,0,2015,2
1,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,0,2015,4
2,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,0,2015,5
3,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,0,2014,6
5,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,0,2015,3
7,2765,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,0,2015,3
8,1472,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,0,2014,9
9,4236,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,0,2015,5
11,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,0,2015,4
13,280,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,0,2014,8
14,20,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,0,2014,8
15,4332,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2015,3
17,3475,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,0,2015,4
18,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,0,2015,4
19,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,9
20,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,9
21,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,0,2015,4
24,4929,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,0,2014,6
25,1384,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,0,2014,7
26,1589,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,0,2015,4
28,2260,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,0,2014,6
29,1727,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,6
31,1611,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,0,2014,6
32,1474,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,0,2014,11

### Условие 3: 3 задача
Составьте несколько сводных таблиц

#### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [27]:
df.groupby(['bedrooms']).agg({'price': 'mean'} ).sort_values('price', ascending = True)

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

#### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [29]:
df.groupby(['condition']).agg({'price': ['min','mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

#### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [35]:
pd.crosstab(index=df['view'], columns=df['waterfront'], aggfunc='count', values = 'yr_built', ).fillna(0)

waterfront        0      1
view
0           19489.0    0.0
1             331.0    1.0
2             955.0    8.0
3             491.0   19.0
4             184.0  135.0

#### 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [39]:
df.pivot_table(index='bathrooms', columns='floors', aggfunc='count', values = 'yr_built').fillna(0)

floors        1.0    1.5     2.0   2.5    3.0  3.5
bathrooms
0.00          5.0    0.0     3.0   0.0    1.0  1.0
0.50          3.0    0.0     1.0   0.0    0.0  0.0
0.75         64.0    5.0     3.0   0.0    0.0  0.0
1.00       3115.0  624.0   106.0   3.0    4.0  0.0
1.25          2.0    2.0     3.0   0.0    2.0  0.0
1.50        904.0  205.0   268.0   5.0   64.0  0.0
1.75       2494.0  282.0   244.0   8.0   20.0  0.0
2.00       1283.0  282.0   304.0  12.0   49.0  0.0
2.25        883.0   95.0   940.0  15.0  114.0  0.0
2.50       1013.0  155.0  3966.0  39.0  204.0  3.0
2.75        500.0  120.0   542.0   7.0   15.0  1.0
3.00        228.0   76.0   391.0  23.0   33.0  2.0
3.25         72.0   25.0   430.0  12.0   50.0  0.0
3.50         58.0   17.0   614.0  13.0   29.0  0.0
3.75         18.0   11.0   113.0   7.0    6.0  0.0
4.00         18.0    4.0    99.0   5.0    9.0  1.0
4.25          3.0    2.0    67.0   4.0    3.0  0.0
4.50          5.0    3.0    81.0   3.0    8.0  0.0
4.75          3.0    2.0    14.0   3.0    1.0  0.0
5.00          4.0    0.0    16.0   1.0    0.0  0.0
5.25          1.0    0.0    12.0   0.0    0.0  0.0
5.50          3.0    0.0     7.0   0.0    0.0  0.0
5.75          0.0    0.0     4.0   0.0    0.0  0.0
6.00          0.0    0.0     6.0   0.0    0.0  0.0
6.25          0.0    0.0     2.0   0.0    0.0  0.0
6.50          0.0    0.0     2.0   0.0    0.0  0.0
6.75          1.0    0.0     1.0   0.0    0.0  0.0
7.50          0.0    0.0     1.0   0.0    0.0  0.0
7.75          0.0    0.0     1.0   0.0    0.0  0.0
8.00          0.0    0.0     0.0   1.0    1.0  0.0

#### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [57]:
pd.crosstab(index=df['condition'], columns=df['grade'], aggfunc='median', values = df['price']).fillna(0)

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,0.0,150000.0,190000.0,255000.0,403500.0,932500.0,0.0,0.0,0.0,0.0,0.0
2,0.0,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,0.0,0.0,0.0
3,0.0,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,0.0,0.0,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,0.0,262000.0,0.0,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,0.0